<a href="https://colab.research.google.com/github/parthasarathi074/-Movie-Recommendations-and-User-Preferences-Using-Big-Data/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    "User_ID": ["U001","U002","U003","U004","U005","U006","U007","U008"],
    "Age": [25,32,19,28,40,22,35,27],
    "Gender": ["M","F","M","F","M","F","M","F"],
    "Location": ["Hyderabad","Bangalore","Delhi","Chennai","Mumbai","Pune","Kolkata","Hyderabad"],
    "Movie_ID": ["M101","M102","M103","M104","M105","M106","M107","M108"],
    "Title": ["Inception","The Notebook","Avengers: Endgame","Parasite","The Godfather","Frozen","Interstellar","Joker"],
    "Genre": ["Sci-Fi, Thriller","Romance, Drama","Action, Sci-Fi","Thriller, Drama","Crime, Drama","Animation, Kids","Sci-Fi, Drama","Drama, Thriller"],
    "Rating (1–5)": [5,4,5,5,5,3,4,4],
    "Watched (Y/N)": ["Y","Y","Y","Y","Y","Y","Y","Y"],
    "Preferred_Device": ["Mobile","Smart TV","Laptop","Smart TV","Tablet","Mobile","Smart TV","Laptop"]
}

df = pd.DataFrame(data)
print(df)

  User_ID  Age Gender   Location Movie_ID              Title  \
0    U001   25      M  Hyderabad     M101          Inception
1    U002   32      F  Bangalore     M102       The Notebook
2    U003   19      M      Delhi     M103  Avengers: Endgame
3    U004   28      F    Chennai     M104           Parasite
4    U005   40      M     Mumbai     M105      The Godfather
5    U006   22      F       Pune     M106             Frozen
6    U007   35      M    Kolkata     M107       Interstellar
7    U008   27      F  Hyderabad     M108              Joker

              Genre  Rating (1–5) Watched (Y/N) Preferred_Device
0  Sci-Fi, Thriller             5             Y           Mobile
1    Romance, Drama             4             Y         Smart TV
2    Action, Sci-Fi             5             Y           Laptop
3   Thriller, Drama             5             Y         Smart TV
4      Crime, Drama             5             Y           Tablet
5   Animation, Kids             3             Y           Mobile
6     Sci-Fi, Drama             4             Y         Smart TV
7   Drama, Thriller             4             Y           Laptop